body {
    background-color: #0d1828 !important;
    color: white !important;
    font-family: monospace !important;
    max-width: 60rem !important;
    margin: 0 auto !important;
}

.nav-link,
.alert,
.container {
    font-family: monospace;
}

.nav {
    --bs-nav-link-color: white !important;
}

.nav-link:hover {
    color: #718096 !important;
}

.nav-bar,
.prod-item,
.prod-details,
.reviews-section {
    background: #1d2433;
}

.prod-item:hover {
    background: #2d3748;
}



